<h1>Showing selected item</h1>
<p> Name : <%= @user.name %></p>
<p> Email : <%= @user.email %></p>
<p> Address: <%= @user.address %></p>
<p> Password : <%= @user.password %></p>
<button> <%=link_to"New Post", new_post_path %> </button>
<button> <%=link_to"Edit Post", edit_post_path %> </button>

