<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.csss"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
      <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>

  <body>
 <% if @comment.errors.any? %>
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <% else %>
    
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #D3D3D3; height:70px">
  <div class="container-fluid">
  
  <div class="col-md-9">
  </div>

       <ul class="navbar-nav me-auto  ">
       
        <li class="nav-item">
          <a class="nav-link active; link-dark" href="posts/new">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active; link-dark"  href="/posts">All Posts</a>
        </li>
        <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, class: "nav-link active; link-dark" ,method: 'delete'%>
        
        </li>
        </ul>
 
   </div>
</nav>
<% end %>
  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
